<div class="profile-info">
    <div class="row">
        <div class="logo col-md"> <img src="https://wobb.ai/assets/logo.png" alt="logo" />
        </div>
        <div class="name col-md">
            <p>Wobb.ai</p>
        </div>
    </div>
</div>
<section class="flex">
    <a mat-button [routerLink]="['/campaign']" routerLinkActive="active">Campaign</a><br>
    <a mat-button [routerLink]="['/discovery']" routerLinkActive="active">Discovery</a><br>
    <a mat-button [routerLink]="['/pixel']" routerLinkActive="active">Pixel</a><br>
    <a mat-button [routerLink]="['/profile']" routerLinkActive="active">Profile</a><br>
    <a mat-button [routerLink]="['/live-support']" routerLinkActive="active">Live Support</a><br>
    <a mat-button [routerLink]="['/logout']" routerLinkActive="active">Log Out</a><br>
</section>